<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="static/styles/breakpoints.css">
    <link rel="stylesheet" href="static/styles/animations.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark" id="mainNav">
        <a class="navbar-brand" href="/">Code Clash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Beto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Chief Keef</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Love Sosa</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <span id = "important-message">Remember: {Comments} are a must!</span>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center h-75 row-reverse-on-small">
            <div class="col-md-5 col-sm-12">
                <div class="text-center">
                    <p class = "bold-text">&lt;Ranked leaderboard></p>
                </div>
            </div>
            <div class="col-md-5 offset-md-2 col-sm-12">
                <div class="text-center">
                    <button class="btn btn-lg btn-success mb-4 dashboard-btn mt-3" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Fast match</button>
                    <br>
                    <button class="btn btn-lg btn-warning mb-4 dashboard-btn mt-4" type="submit">Create room</button>
                    <br>
                    <a href = "dashboard/learning-environment" class="btn btn-lg btn-info mb-4 dashboard-btn mt-4" type="submit">Learning environment</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Select preferred game mode:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-sm-12 text-center">
                            <button class="btn btn-lg btn-primary mb-4 mt-3" type="submit">{Easy} match</button>
                        </div>
                        <div class="col-md-4 col-sm-12 text-center">
                            <button class="btn btn-lg btn-primary mb-4 mt-3" type="submit">{Medium} match</button>
                        </div>
                        <div class="col-md-4 col-sm-12 text-center">
                            <button class="btn btn-lg btn-primary mb-4 mt-3" type="submit">{Hardcore} match</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
        </div>
    </div>

    <!--

        si butonu de creare meci care nu este ranked

    -->

    <!-- Mediu de invatare

        1v1 care tine de viteza
        ai 5 minute sa gati problema, daca nu o gata niciunu atunci castiga ala cu mai multe teste trecute.
        otherwise egal

        10 minute dificultate 2
        15 minute dificultate 3
    


    -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src = "static/javascripts/dashboardAnimations.js"></script>
    <script>
        var messages = ["Remember: </span><b>{Comments}</b><span> are a must!", "Remember: Without </span><b>{asserts}</b><span> your program is awful!", "Remember: Always start with your </span><b>{tests}</b>!<span>"];
        var indice = 1;

        function updateText(){
            $("#important-message").html(messages[indice++]);
            if(indice >= messages.length) indice = 0;
        }

        var func = updateText();

        setInterval(function () {
            updateText();
        }, 4000);
    </script>

</body>
</html>