body {
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    text-align: left;
}

li {
    display: inline;
}

.head-section {
    /*position: absolute;
    top: 0px;*/
    font-weight:bold;
}

#text-code, #text-code-ace {
    /*position: absolute;*/
    height: 80%;
    border-radius: 4px;
}

#text-code-ace {
    padding: 2px;
    border: 1px solid rgb(169, 169, 169);
}

.hidden {
    display: none;
}

#text-compile{
    width: auto;
    max-width: 100%;
}

#text-result{
    max-width: 100%;
}

.option{
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    width: 4rem;
    text-align: center;
}

.option:hover{
    cursor: pointer;
}

.active1{
    background-color: darkslategrey;
    color: white;
}

.links{
    width: 100%;
}